/* CSS for larry's shoppe 
	Jacob Baynes
	3/17/2019    This is my original work  */

	
h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: Times;
}	
	
table 
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;	
}


th, td 
{
	text-align: left;
	padding: 8px;
	font-family: Times;
	font-size: 1.2em;
}

/* Make every even record grey */
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}